{% extends "base.html" %}

{% load static %}

{% block 'title' %}venusco{% endblock 'title' %}

{% block 'style' %}

{% endblock 'style' %}

{% block 'content' %}

<!--
TemplateMo 573 EduWell

https://templatemo.com/tm-573-eduwell

-->


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="" class="logo"> VenusCo
                        <!--<img src="{% static "images/templatemo-eduwell.png" %}" alt="VenusCo"> -->
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#services">Services</a></li>
                          <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                          <!--
                          <li class="has-sub">
                              <a href="javascript:void(0)">Pages</a>
                              <ul class="sub-menu">
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="our-services.html">Our Services</a></li>
                                  <li><a href="contact-us.html">Contact Us</a></li>
                              </ul>
                          </li>
                          <li class="scroll-to-section"><a href="#testimonials">Testimonials</a></li> -->
                          <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Welcome to VenusCo Academy</h6>
            <h3>Best Place To Learn Web <em>Dev!</em></h3> 
            <h4 class="">Registration <b class="text-danger">Now Open</b> Until June 1st! </h4>
            <div class="main-button-gradient mt-5">                  
              <div class="scroll-to-section"><a class="text-decoration-none" href="tel:+919895340954">Contact</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static "images/banner-right-image2.png" %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <!-- <h6>Our Services</h6> -->
            <!-- <h4>Provided <em>Services</em></h4> -->
            <h6 class="services-heading">Discover Our Offerings</h6>
            <h4 class="choose-us-heading"><em>Why We're the Best Choice</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
              <!-- carousal item 1 -->
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static "images/service-icon-01.png" %}" alt="">
                </div>
                <h4>Diverse Curriculum</h4>
                <p>Our courses cover everything from the basics to advanced concepts, ensuring a comprehensive learning experience.</p>
              </div>
            </div>
              <!-- carousal item 2 -->
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static "images/service-icon-02.png" %}" alt="">
                </div>
                <h4>Expert Instructors</h4>
                <p>Learn from experienced professionals who offer real-world insights and guidance.</p>
              </div>
            </div>
              <!-- carousal item 3 -->
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static "images/service-icon-03.png" %}" alt="">
                </div>
                <h4>Practical Projects</h4>
                <p>Gain hands-on experience through projects that mirror real-world scenarios, helping you build a strong portfolio.</p>
              </div>
            </div>
            <!-- carousal item 4 -->
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static "images/service-icon-04.png" %}" alt="">
                </div>
                <h4>Affordable Pricing</h4>
                <p>Enjoy competitive pricing options that provide excellent value for the quality of education and resources offered.</p>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>OUR COURSES</h6>
            <h4>What You Can <em>Learn</em></h4>
            <p>Unlock the gateway to knowledge and expertise with our unparalleled selection of courses at VenusCo.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Full Stack Dev</span></div>
                    <div class="gradient-border"><span>Python Pro</span></div>
                    <div class="gradient-border"><span>Graphic Design</span></div>
                    <div class="gradient-border"><span>Spoken English</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="{% static "images/courses-01.jpg" %}" alt="">
                          <!-- <div class="price"><h6>₹2,000/month</h6></div> -->
                        </div>
                        <div class="right-content">
                          <h4>Full Stack Web Development</h4>
                          <p>Delve into <a rel="nofollow" href="{% url "fullstack" %}" target="_blank">Python Full Stack Web Development</a> with Django and Flask.
                            <br></p>

                            <p>Make dynamic websites with HTML, CSS, JavaScript, and Bootstrap<br>
                              Use Python 3 with Flask and Django for web development<br>
                              Learn how to use Git and GitHub for version control<br>
                              Deploy and manage applications on AWS<br>
                              Understand database management<br>
                              Plus much more!</p>
                              
                              <p>Join us and explore the world of Python web development in an easy and fun way!</p>

                              <p class="text-danger fw-bold"> EVERY MON TO FRI</p>
                        

                        
                          <span>6 Months</span>
                          <span>24 Weeks</span>
                          <span class="last-span"></span>
                          <div class="text-button">
                            <a class="text-decoration-none" href="tel:+17034101064">Contact Us</a>

                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{% static "images/courses-02.jpg" %}" alt="">
                          <!-- <div class="price"><h6>$156</h6></div> -->
                        </div>
                        <div class="right-content">
                          <h4>Python Pro Bootcamp</h4>
                          <p>Join our Python Pro Bootcamp to advance your Python skills. Dive into:<br>
                          - Data structures<br>
                          - Explore machine learning<br>
                          - Hands-on projects for practical experience<br>
                          - Learn RESTful API development<br>
                          - Develop GUI Desktop Apps with Python<br>
                          </p>
                          <p>Whether you're a beginner or experienced programmer, this intensive program will equip you with the expertise needed to excel in Python and propel your career to new heights.</p>
                          <p class="text-danger fw-bold"> EVERY MON TO FRI</p>
                          <span>6 Months</span>
                          <span>24 Weeks</span>
                          <div class="text-button">
                            <a class="text-decoration-none" href="tel:+17034101064">Contact Us</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{% static "images/courses-03.jpg" %}" alt="">
                          <!-- <div class="price"><h6>$184</h6></div>  -->
                        </div>
                        <div class="right-content">
                          <h4>Graphic Design</h4>
                          <p>Welcome to our Creative Design Studio, where imagination fuels innovation. Here, we delve into the intricate world of Photoshop, mastering its tools and techniques for breathtaking creations. From:<br>
                            - Crafting captivating YouTube thumbnails<br>
                            - Designing engaging social media posts<br>
                            - Polishing CVs/resumes<br>
                            - Creating iconic logos<br>
                            - Developing dynamic vector graphics<br>
                            - And much more<br>
                          
                          </p>
                          <p class="text-danger fw-bold"> EVERY SATURDAY</p>

                            
                             <span>4 Months</span>

                          <div class="text-button">
                            <a class="text-decoration-none" href="tel:+17034101064">Contact Us</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{% static "images/courses-04.jpg" %}" alt="">
                          <!-- <div class="price"><h6>$76</h6></div> -->
                        </div>
                        <div class="right-content">
                          <h4>Spoken English</h4>
                          <p>Master the art of effective communication in English. Our program focuses on speaking fluently and confidently in various contexts, including presentations, interviews, and everyday conversations. Through interactive sessions and practical exercises, you'll improve pronunciation, vocabulary, and grammar skills. Gain the confidence to express yourself clearly and professionally, empowering you to succeed in both personal and professional environments. Start your journey to English proficiency today!</p>
                          
                          <p class="text-danger fw-bold"> EVERY SUN TO THU</p>
                          <span>4 Months</span>
                          <span>16 Weeks</span>
                          <div class="text-button">
                            <a class="text-decoration-none" href="tel:+17034101064">Contact Us</a>
                          </div>
                        </div>
                      </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="{% static "images/cta-left-image.png" %}" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Class Starts From <strong class="text-danger mx-2">3rd June 2024!</strong></h6>
          <h4>Python Full Stack Web Dev!</h4>
          <p>Learn Python full-stack web development and unlock endless possibilities in the digital world. Dive into the world of Flask, Django, databases, front-end technologies, and more. Whether you're a beginner or an experienced developer, our courses cater to all skill levels.</p>
          <div class="white-button">
            <a class="text-decoration-none" href="tel:+17034101064">Contact Us</a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
<!--
  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Testimonials</h6>
            <h4>What They <em>Think</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <p>“just think about TemplateMo if you need free CSS templates for your website”</p>
                <h4>Catherine Walk</h4>
                <span>CEO &amp; Founder</span>
                <img src="{% static "images/quote.png" %}" alt="">
            </div>
            <div class="item">
              <p>“think about our website first when you need free HTML templates for your website”</p>
                <h4>David Martin</h4>
                <span>CTO of Tech Company</span>
                <img src="{% static "images/quote.png" %}" alt="">
            </div>
            <div class="item">
              <p>“just think about our website wherever you need free templates for your website”</p>
                <h4>Sophia Whity</h4>
                <span>CEO and Co-Founder</span>
                <img src="{% static "images/quote.png" %}" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>Helen Shiny</h4>
                <span>Tech Officer</span>
                <img src="{% static "images/quote.png" %}" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>George Soft</h4>
                <span>Gadget Reviewer</span>
                <img src="{% static "images/quote.png" %}" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>Andrew Hall</h4>
                <span>Marketing Manager</span>
                <img src="{% static "images/quote.png" %}" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>Maxi Power</h4>
                <span>Fashion Designer</span>
                <img src="{% static "images/quote.png" %}" alt="">
            </div>
            <div class="item">
              <p>“Praesent accumsan condimentum arcu, id porttitor est semper nec. Nunc diam lorem.”</p>
                <h4>Olivia Too</h4>
                <span>Creative Designer</span>
                <img src="{% static "images/quote.png" %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="map">
          
            <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.5995013376337!2d76.22061887405587!3d10.918011189239483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7ce8a42c77637%3A0x5cfd090bef68675c!2sJamia%20Jamaliyya%20Nooriyya%2C%20Elamkulam!5e0!3m2!1sen!2sin!4v1716569414483!5m2!1sen!2sin" width="600" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></iframe>            
            <div class="row">
              <div class="col-lg-4 offset-lg-1">
                <div class="contact-info">
                  <a class="text-decoration-none" href="tel:+919895340954">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Mobile(1)</h4>
                  <span>+91 98953 40954</span></a>
                  
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <a class="text-decoration-none" href="tel:+917034101064">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Mobile(2)</h4>
                  <span>+91 70341 01064</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Contact us</h6>
                  <h4>Say <em>Hello</em></h4>
                  <p>IF you need a working contact form by PHP script, please visit TemplateMo's contact page for more info.</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Full Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
   

        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>    -->
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2024 VenusCo., Ltd. All Rights Reserved. 
        </div>
      </div>
    </div>
  </section>



  <script>
      //according to loftblog tut
      $('.nav li:first').addClass('active');

      var showSection = function showSection(section, isAnimate) {
        var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $('body, html').animate({
            scrollTop: reqSectionPos },
          800);
        } else {
          $('body, html').scrollTop(reqSectionPos);
        }

      };

      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
          }
        });
      };

      $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
  </script>

{% endblock 'content' %}